# Ignore Visual Studio user-specific files
.vs/
*.user
*.suo
*.vsidx

# Ignore databases
*.sqlite
*.db

# Ignore build results
bin/
obj/
*.dll

# Ignore debug output
*.pdb
*.cache

# Ignore temporary files
*.log
*.tmp
*.DS_Store
Thumbs.db
